src/main/resources/validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Élément racine -->
    <xs:element name="Images">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImageID" type="xs:string" minOccurs="0"/>
                            <xs:element name="ImageDir" type="xs:string" minOccurs="0"/>
                            <xs:element name="StudyID" type="xs:string" minOccurs="0"/>
                            <xs:element name="PatientID" type="xs:string" minOccurs="0"/>
                            <xs:element name="PatientBirth" type="xs:string" minOccurs="0"/>
                            <xs:element name="Projection" type="xs:string" minOccurs="0"/>
                            <xs:element name="MethodProjection" type="xs:string" minOccurs="0"/>
                            <xs:element name="Pediatric" type="xs:string" minOccurs="0"/>
                            <xs:element name="ReportID" type="xs:string" minOccurs="0"/>
                            <xs:element name="Report" type="xs:string" minOccurs="0"/>
                            <xs:element name="MethodLabel" type="xs:string" minOccurs="0"/>

                            <!-- Labels -->
                            <xs:element name="Labels" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Label" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Localizations -->
                            <xs:element name="Localizations" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Localization" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- LabelsLocalizationsBySentence -->
                            <xs:element name="LabelsLocalizationsBySentence" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Sentence" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LabelSentence" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- labelCUIS -->
                            <xs:element name="labelCUIS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="labelCUI" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- LocalizationsCUIS -->
                            <xs:element name="LocalizationsCUIS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LocalizationsCUI" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <!-- Attribut ID -->
                        <xs:attribute name="Identifiant" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
